* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f6f6f8;
}
li {
    list-style: none;
}
img {
    width: 100%;
}
.container {
    height: 100vh;
    display: flex;
}
aside {
    height: 100%;
    width: 20%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;

}
aside img {
    margin-bottom: 20px;
}
aside li {
    padding: 12px 24px;
    

}
aside button {
    background: transparent;
    border: none;
    text-align: start;
    padding: 0 24px;
}
aside  i {
    margin-right: 12px;
}
h2{
    margin-bottom: 2px;
}
table{
    background: rgba(238, 243, 255, 0.555);
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px black;
    transition: all 300ms ease;
}
table:hover{
    box-shadow: none;
}

table tbody td{
    height: 2px;
    border-bottom: 2px solid silver;
    color:rgb(34, 19, 19)
}

table tbody tr:last-child td{
    border :none;
}
 #aviso{
    color:blue;
}

#aviso-A{
    color:darkgoldenrod;
}

#aviso-V{
    color:red;
}

a{
    text-align: center;
    display: block;
    margin: 1px auto;
    color:blue
}
